body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("../images/white-waves.png");
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto .5rem auto;
  max-width: 80%;
}

button {
  border-radius: .2rem;
  margin: 0 .2rem 0 .2rem;

  background-color: rgb(80, 165, 255);
  border-color: rgb(100, 175, 255) rgb(50, 115, 185) rgb(50, 115, 185) rgb(100, 175, 255);
}

.title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: .5rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px rgb(40, 40, 40);
}

.block {
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.w-50 {
  width: 50%;
}

.gif-card {
  background-color: rgb(40, 40, 40);
  border: 2px solid rgb(40, 40, 40);
  border-radius: .2rem;
  margin: .2rem;
}

.gif-img {

}

.gif-rating {
 text-align: center;
 background-color: rgb(40, 40, 40);
 color: rgb(255, 255, 255);
 padding: .2rem;
}